header{
    position: fixed;
    
    height: 100px;

    background-color: #080;
    width: 100%;
    margin-top: -120px;

    border-style: solid;

    border-width: 0px;

    border-bottom-width: 2px;
}

#logo{
    width: 80px;
    height: 80px;

    margin: 10px;
}

#site-body{
    margin-top: 120px;
}

#logo-name{
    margin-top: -80px;

    margin-left: 100px;
}

#slogan{
    margin-left: 100px;
    margin-top: -10px;
}