.key-white{
    background-color: white;

    width: 50px;
    height: 200px;

    margin: 5px;

    display: inline;

    text-align: center;
}

.key-black{
    background-color: black;

    width: 25px;
    height: 150px;

    margin-left: -12px;
    margin-right: -12px;

    display: inline;

    color: white;

    z-index: 1;

    text-align: center;
}

#keys{
    width: 100%;

    overflow: hidden;

    background-color: #0c0;

    display: flex;

    justify-content: center;
}

@keyframes presed {
    0%   {background-color: red;}
}

.presed{
    animation: presed;
    animation-duration: 900ms;
}

#note-bar{
    height: 700px;

    margin-bottom: 1px;
}

.note-block{
    background-color: aqua;

    height: 25px;

    width: 50px;

    margin: 5px;

    position: absolute;

    z-index: -1;
}