body{
    background-color: #0c0;

    display: flex;

    justify-content: center;
    gap: 20px;

    flex-wrap: wrap;
}

button{
    min-width: fit-content;

    flex-grow: 1;
}

input{
    min-width: fit-content;

    flex-grow: 1;
}

#calendar-cantainer{
    display: flex;

    align-items: center;
}

#calendar{
    width: fit-content;
    height: fit-content;
    flex-grow: 1;
}