#site-body{
    display: flex;

    align-items: center;

    flex-wrap: wrap;

    gap: 20px;
}

.tool{
    background-color: #090;
    padding: 10px;

    flex-grow: 1;
    min-width: fit-content;

    display: flex;

    flex-wrap: wrap;

    border-width: 2px;

    border-style: solid;

    border-radius: 10px;

    margin-left: 10px;
    margin-right: 10px;
}

.description{
    min-width: 100%;
    text-align: center;
}

.link{
    min-width: 100%;

    text-align: center;
}

body{
    background-color: #0c0;
}