body{
    background-color: #0c0;

    background-image: url("sprites/level.png");

    background-size: 1000px;
}

#player{
    position: absolute;

    width: 100px;
    height: 100px;
    background-color: red;
}